<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>News Letter Subscription Form</h1>

    <form action="/newsletter" method="POST">
      <!--<input type="hidden" name="_csrf" value="#(csrftoken)">-->
      <p>Please Enter your Email Address: </p>
      <input type="text" name="email"/>
      </br>
      </br>
      <button type="submit" >Submit</button>
    </form>
  </body>
</html>
