<!DOCTYPE html>
<html>
<head>
    <title>Welcome page</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1>Welcome</h1>

<a href="homepage">Go to Subscribers Page</a>
</body>
</html>
