<!DOCTYPE html>
<html>
<head>
    <title>Thank you</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1>News Letter Subscription Message</h1>
<p>Your email: <%=email%> has been added successfully to our subscribers list. </p>

</body>
</html>
